
.modal {
  background-color: white;
  min-width: 300px;
  max-height: 90vh;
  padding:2em;
  position: relative;
  border-radius: 5px;
  z-index: 1;
  text-align: center;
  overflow-y: auto;
  margin:0  0.5em;

  &.sm {
    padding: 2.5rem;
    min-width: 300px;
    max-width: 390px;
  }

  &.md {
    max-width: 700px;
  }

  &.lg {
    min-width: 50%;
  }


  & img{
    width: 100%;
  }


  & svg {
    margin-bottom: 2em;
  }

  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-thumb {
    width: 5px;
    border-radius: 0px 10px 10px 0;
   background-color: rgb(38, 32, 112);
  }

  &-close_btn {
    position: absolute;
    right: 2%;
    top: 1%;
    height: 22px;
    margin: 0;
    color: var(--accent-primary);
    width: 22px;
    min-width: fit-content;
    border: none;
    font-size: 16px;
    z-index: 5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  &-box {
    width: 100%;
    height: 100%;
    position: absolute;
    // background-color: red;
    z-index: 0;
  }

  &-container {
    background-color: rgba(#000000, 0.7);
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 10;
    display: grid;
    place-items: center;
  }

  &-head {
    h4 {
      font-size: 2rem;
      font-weight: 600;
      margin: 0rem 0 1rem 0;
      text-align: center;

    }

    p {
      display: block;
      width: 70%;
      margin: auto;
      margin-bottom: 1rem;

    }
  }

  &-content {
    text-align: left;
  }
}
