body {
    width: 100vw;
    overflow-x: hidden;
    color: $light-100;
    font-family: 'Montserrat', sans-serif;
    background-color: $black;
}

button {
    transition: all .5s ease-in-out;
    position: relative;
    color: $light-100;
    font-size: 14px;
    font-weight: 600;
    height: 42px;
    min-width: 110px;
    background: transparent;
    border: 1px solid;
    border-image-slice: 1;
    border-width: 1px;
    border-image-source: linear-gradient(to right, orange, green, #0593ff, violet);
}

.rainbow-word {
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(to right, orange, green, #0593ff, violet)
}


.cursor {
    width: 20px;
    height: 20px;
    border: 1px solid orange;
    border-radius: 50%;
    position: absolute;
    transition-duration: 100ms;
    transition-timing-function: ease-in;
    animation: cursoranim .5s infinite alternate;
    background-image: linear-gradient(to right, orange, green, #0593ff, violet)
}

.cursor::after {
    content: '';
    width: 40px;
    height: 40px;
    border: 4px solid #0593ff;
    opacity: .5;
    border-radius: 50%;
    position: absolute;
    transition-duration: 100ms;
    transition-timing-function: ease-in;
    animation: cursoranim2 .5s infinite alternate;
    top: -15px;
    left: -15px;

}

// cursor expand
.expand {
    animation: cursoranim3 .5s forwards;
    border: 3px solid violet;
    opacity: .5;
}

.cover {
    position: relative;
    max-width: 1350px;
    margin: auto;
    // overflow-x: hidden;
}

section {
    padding: 0em 4em;
}

a {
    z-index: 1;
}

// footer {
//     margin: 0 2em;
// }

#header {
    padding: 2em 4em;
}

h1 {
    margin: 1px 0;
    font-size: 4rem;
}

.contact-me {
    position: fixed;
    bottom: -10%;
    right: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;

    ul {
        list-style: none;
        padding-left: 10px;

        li {
            margin-top: 1em;

            svg {
                width: 20px;
            }

            hr {
                width: 1px;
                background-color: $light;
                border: none;
                height: 210px;
            }
        }
    }
}

.contact-me-horizontal {
    ul {
        list-style: none;
        padding-left: 10px;
        display: flex;
        flex-direction: row;

        li {
            margin-right: 1em;

            svg {
                width: 20px;
            }
        }
    }
}

.general--heading {
    margin-bottom: 3em;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    span {
        display: block;
        margin-right: 10px;
        font-weight: 900;
        font-size: 25px;
    }

    h2 {
        font-size: 25px;
        margin-right: 10px;
    }

    hr {
        height: 1px;
        margin: 0;
        width: 300px;
        border: none;
        background-color: rgb(90, 90, 90);
        // background-image: linear-gradient(to right, orange, green, #0593ff, violet)
    }
}

.window-card {
    transition-duration: .3s;
    transition-timing-function: ease-in;
    width: 350px;
    // max-width: 300px;
    // min-width: 260px;
    height: 310px;
    margin: 1em;
    border-radius: 10px;
    background-color: rgb(15, 25, 48);
    border: 1px solid rgba(78, 78, 78, 0.358);
    box-shadow: 3px 3px 5px 2px black;

    &:hover {
        transform: scale(1.05);
    }

    .card {
        &--heading {
            // height: 10px;
            border-bottom: 1px solid rgba(78, 78, 78, 0.358);
            padding: 10px 1em;
            display: flex;
            align-items: center;
        }

        &--title {
            text-align: center;
            margin-left: 2em;
            // width: 80%;

            & h5 {
                margin: 0;
            }
        }

        &--actions {
            width: 53px;
            text-align: left;

            span {
                display: inline-block;
                border-radius: 50%;
                width: 12px;
                height: 12px;
                margin: 3px;

                &:first-child {
                    margin-left: 0;
                    background-color: rgb(251, 70, 70);
                }

                &:nth-child(2) {
                    background-color: #fcb024;
                }

                &:last-child {
                    background-color: #29c233;
                }
            }
        }

        &--body {
            padding: 1em;
            text-align: left;

            h5 {
                margin: 10px 0;

                &.primary {
                    margin: 0 0 10px 0;
                }
            }

            span {
                font-size: 13px;
                font-weight: 500;
                display: inline-block;
            }
        }
    }
}

.folder-card {
    box-shadow: 3px 3px 5px 2px black;
    // width: 300px;
    min-height: 235px;
    min-width: 215px;
    max-width: 300px;
    margin: 1em;
    border-radius: 10px;
    background-color: rgb(15, 25, 48);
    border: 1px solid rgba(78, 78, 78, 0.358);
    padding: 1.5em;

    &:hover {
        transition-duration: .3s;
        transition-timing-function: ease-in;
        transform: scale(1.05);
    }

    .card {
        &--actions {
            // width: fit-content;
            // text-align: left;
            display: flex;
            justify-content: space-between;
            align-items: center;

            & img {
                width: 28px !important;
            }

            & svg {
                width: 20px !important;
            }
        }

        &--body {
            text-align: left;

            h3 {
                color: $light-100;
                font-size: 18px;
                line-height: 1.5;
            }

        }
    }
}

.orbital {
    animation: spin infinite 20s linear;
}

.contact {
    width: 100%;

    &--body {
        display: flex;
        align-items: flex-start;
        flex-direction: row;

        div {
            width: 60%;

            &:first-child {
                width: 40%;
            }

            &:last-child {
                text-align: right;
            }

            img {
                // max-width: 600px;
                width: 100%;
            }
        }
    }

}

@media (max-width: 1100px) {
    .general--heading {
        margin-bottom: 1em;

        hr {
            width: 200px;

        }
    }
}

@media (max-width: 600px) {

    section {
        padding: 1em;
    }

    #header {
        padding: 1em;
        width: calc(100% - 2em);
    }

    h1 {
        margin: 1px 0;
        font-size: 2.5rem;
    }

    .contact-me {
        display: none;
    }

    .general--heading {
        margin-bottom: 1em;

        span {
            font-size: 20px;
        }

        h2 {
            font-size: 20px;
        }

        hr {
            width: 60px;

        }
    }

    .contact {
        &--body {
            flex-direction: column;

            div {
                width: 90%;

                &:first-child {
                    width: 90%;
                }

                &:last-child {
                    text-align: center;

                }

                img {
                    max-width: 600px;
                }
            }
        }

    }
}

.human {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    width: 100%;

    .head {
        position: relative;
        display: flex;
        // align-items: center;
        justify-content: flex-end;
        width: 150px !important;
        height: 100px;
        border-radius: 50%;
        background-color: rgb(88, 55, 55);
        position: relative;


        span {
            display: block;
            width: 10px;
            height: 10px;
            background-color: black;
            border-radius: 50%;
            margin: 2em 1em 0 1em;

        }

        &::after {
            content: "";
            width: 45px;
            height: 20px;
            // background-color: transparent;
            border-top: 2px solid rgb(88, 55, 55);
            border-left: 2px solid rgb(88, 55, 55);
            border-right: 2px solid rgb(88, 55, 55);
            border-bottom: 3px solid rgb(181, 96, 96);
            border-radius: 100%;
            position: absolute;
            bottom: 25%;
            right: 15%;
            z-index: 2;
        }
    }

    .body {
        position: relative;
        width: 20px;
        height: 100px;
        background-color: rgb(88, 55, 55);

        &::after {
            content: "";
            width: 10px;
            height: 150px;
            background-color: rgb(88, 55, 55);
            position: absolute;
            top: 10%;
            right: 300%;
            transform: rotate(60deg);
        }

        &::before {
            content: "";
            width: 10px;
            height: 150px;
            background-color: rgb(88, 55, 55);
            position: absolute;
            top: -40%;
            right: -300%;
            transform: rotate(70deg);
        }
    }

    .legs {
        position: relative;
        width: 20px;
        height: 115px;
        background-color: rgb(88, 55, 55);

        &::after {
            content: "";
            width: 10px;
            height: 150px;
            background-color: rgb(88, 55, 55);
            position: absolute;
            bottom: -90%;
            right: 300%;
            transform: rotate(60deg);
        }

        &::before {
            content: "";
            width: 10px;
            height: 150px;
            background-color: rgb(88, 55, 55);
            position: absolute;
            bottom: -100%;
            right: -200%;
            transform: rotate(140deg);
        }
    }
}

h1.girl {
    font-size: 300px;
    transform: scaleX(-1)
}