@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600&display=swap");
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

header #header {
  padding: 2em;
}

header #header .logo img {
  width: 100px;
}

@media (max-width: 600px) {
  header #header {
    padding: 1em;
  }
}

#hero {
  position: relative;
  width: 100%;
  height: 70vh;
  display: flex;
  align-items: center;
}

#hero .hero {
  position: relative;
  width: 100%;
}

#hero .hero-orbital {
  width: 40%;
  position: absolute;
  right: -18%;
  top: -10%;
}

#hero .hero-text {
  width: 60%;
}

#hero .hero-text h4 {
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 0;
  letter-spacing: 3px;
}

#hero .hero-text p {
  font-weight: 500;
  line-height: 2;
}

#hero .hero-text hr {
  height: 5px;
  width: 200px;
  margin: 1.5em 0;
  align-self: flex-start;
  border: none;
  background-image: linear-gradient(to right, orange, green, #0593ff, violet);
}

@media (max-width: 600px) {
  #hero .hero-orbital {
    width: 100px;
    position: absolute;
    right: 0%;
    bottom: 0%;
    z-index: -1;
  }
  #hero .hero-text {
    width: 90%;
  }
}

#skills .skills {
  text-align: center;
}

#skills .skills--heading {
  margin-bottom: 3em;
}

#skills .skills--body {
  display: flex;
  justify-content: center;
}

body {
  width: 100%;
  overflow-x: hidden;
  color: #b1b1b1;
  font-family: 'Montserrat', sans-serif;
  background-color: #0d0d0c;
  background-image: url("../images/galaxy.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.rainbow-word {
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(to right, orange, green, #0593ff, violet);
}

.cursor {
  width: 20px;
  height: 20px;
  border: 1px solid orange;
  border-radius: 50%;
  position: absolute;
  transition-duration: 100ms;
  transition-timing-function: ease-in;
  animation: cursoranim .5s infinite alternate;
  background-image: linear-gradient(to right, orange, green, #0593ff, violet);
}

.cursor::after {
  content: '';
  width: 40px;
  height: 40px;
  border: 4px solid #0593ff;
  opacity: .5;
  border-radius: 50%;
  position: absolute;
  transition-duration: 100ms;
  transition-timing-function: ease-in;
  animation: cursoranim2 .5s infinite alternate;
  top: -15px;
  left: -15px;
}

.expand {
  animation: cursoranim3 .5s forwards;
  border: 3px solid violet;
  opacity: .5;
}

@keyframes cursoranim {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.7);
  }
}

@keyframes cursoranim2 {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.4);
  }
}

@keyframes cursoranim3 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(3);
  }
  100% {
    transform: scale(1);
  }
}

.cover {
  position: relative;
  max-width: 1500px;
  margin: auto;
}

section {
  padding: 2em 3em;
}

h1 {
  margin: 1px 0;
  font-size: 4rem;
}

.contact-me {
  position: absolute;
  bottom: 0%;
  left: 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-me ul {
  list-style: none;
}

.window-card {
  min-width: 300px;
  max-width: 600px;
  min-height: 300px;
  border-radius: 10px;
  background-color: #0b0b0b;
  border: 1px solid rgba(78, 78, 78, 0.358);
}

.window-card .card--heading {
  border-bottom: 1px solid rgba(78, 78, 78, 0.358);
  padding: 10px;
}

.window-card .card--actions {
  text-align: left;
}

.window-card .card--actions span {
  display: inline-block;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin: 3px;
}

.window-card .card--actions span:first-child {
  margin-left: 0;
  background-color: #fb4646;
}

.window-card .card--actions span:nth-child(2) {
  background-color: #fcb024;
}

.window-card .card--actions span:last-child {
  background-color: #28c131;
}

.orbital {
  animation: spin infinite 20s linear;
}

@media (max-width: 600px) {
  section {
    padding: 1em;
  }
  h1 {
    margin: 1px 0;
    font-size: 2rem;
  }
}
