body {
    width: 100vw;
    overflow-x: hidden;
    color: $light-100;
    font-family: 'Montserrat', sans-serif;
    background-color: $black;
}

button {
    transition: all .5s ease-in-out;
    position: relative;
    color: $light-100;
    font-size: 14px;
    font-weight: 600;
    height: 42px;
    min-width: 110px;
    background: transparent;
    border: none;
    // border-image-slice: 1;
    // border-width: 1px;
    // border-image-source: linear-gradient(to bottom, #6e8fff, #8e6acd, );
    &:hover {
        background-color: rgba(110, 143, 255, 0.1);
    }
}

button::before {
      content: '';
      position: absolute;
      inset: 0;
      border-radius: 1px;
      padding: 1px; /* Border thickness */
      background:  linear-gradient(to bottom, #6e8fff, #8e6acd, ); /* Gradient border */
      -webkit-mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
      mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
      -webkit-mask-composite: xor;
      mask-composite: exclude;
      z-index: -1;
      transition: background 0.3s ease;
    }

.rainbow-word {
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(to bottom, #6e8fff, #8e6acd, );
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rainbow 5s linear infinite;
    // background-image: linear-gradient(90deg, #64b5f6, #9575cd);
    // background-image: linear-gradient(to right, orange, green, #0593ff, violet)
}


.cursor {
    background-color: transparent !important;
    box-shadow:
        0 0 90px 80px #6e90ff17,
        0 0 110px 90px #38285316;
    pointer-events: none;
    // transform: translate(-50%, -50%);
    border-radius: 50%;
    position: absolute;
    // transition-duration: 100ms;
    // transition-timing-function: ease-in;
    // animation: cursoranim 3s infinite alternate;
    // background-image: linear-gradient(to right, orange, green, #0593ff, violet)
}

.cursor::after {
    content: '';
    box-shadow:
        0 0 140px 110px #6e90ff14,
        0 0 160px 140px #38285313;
    // border: 4px solid #6e8fff;
    opacity: .5;
    pointer-events: none;
    border-radius: 50%;
    position: absolute;
    transition-duration: 400ms;
    transition-timing-function: ease-in;
    animation: cursoranim2 3s infinite alternate;
    top: -15px;
    left: -15px;

}


// cursor expand
.expand {
    animation: cursoranim3 3s forwards;
    // border: 3px solid violet;
    opacity: .5;
}

.cover {
    position: relative;
    max-width: 1500px;
    margin: auto;
    // overflow-x: hidden;
}

section {
    padding: 0em 4em;
}

a {
    z-index: 1;
}

.custom li {
    position: relative;
    list-style-type: none;
    padding-left: 1.5em;

    &::before {
        content: '▹';
        position: absolute;
        left: 0%;

    }
}

// footer {
//     margin: 0 2em;
// }

#header {
    padding: 2em 4em;
}

h1 {
    margin: 1px 0;
    font-size: 4rem;
}

.contact-me {
    position: fixed;
    bottom: -10%;
    right: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;

    ul {
        list-style: none;
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        li {
            margin-top: 1em;

            svg {
                width: 20px;
            }

            hr {
                text-align: center;
                width: 1px;
                background-color: $light;
                border: none;
                height: 210px;
            }
        }
    }
}

.contact-me-horizontal {
    ul {
        list-style: none;
        padding-left: 10px;
        display: flex;
        flex-direction: row;

        li {
            margin-right: 1em;
            text-align: center;

            svg {
                width: 20px;
            }
        }
    }
}

.general--heading {
    margin-bottom: 3em;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    span {
        display: block;
        margin-right: 10px;
        font-weight: 900;
        font-size: 25px;
    }

    h2 {
        font-size: 25px;
        margin-right: 10px;
    }

    hr {
        height: 1px;
        margin: 0;
        width: 300px;
        border: none;
        background-color: rgb(90, 90, 90);
        // background-image: linear-gradient(to right, orange, green, #0593ff, violet)
    }
}

.orbital {
    animation: spin infinite 20s linear;
}

.contact {
    width: 100%;

    &--body {
        display: flex;
        align-items: flex-start;
        flex-direction: row;

        div {
            width: 60%;

            &:first-child {
                width: 40%;
            }

            &:last-child {
                text-align: right;
            }

            img {
                // max-width: 600px;
                width: 100%;
            }
        }
    }

}

@media (max-width: 1100px) {
    .general--heading {
        margin-bottom: 1em;

        hr {
            width: 200px;

        }
    }
}

@media (max-width: 600px) {

    section {
        padding: 1em;
    }

    #header {
        padding: 1em;
        width: calc(100% - 2em);
    }

    h1 {
        margin: 1px 0;
        font-size: 2.5rem;
    }

    .contact-me {
        display: none;
    }

    .general--heading {
        margin-bottom: 1em;

        span {
            font-size: 20px;
        }

        h2 {
            font-size: 20px;
        }

        hr {
            width: 60px;

        }
    }

    .contact {
        &--body {
            flex-direction: column;

            div {
                width: 90%;

                &:first-child {
                    width: 90%;
                }

                &:last-child {
                    text-align: center;

                }

                img {
                    max-width: 600px;
                }
            }
        }

    }
}

.human {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    width: 100%;

    .head {
        position: relative;
        display: flex;
        // align-items: center;
        justify-content: flex-end;
        width: 150px !important;
        height: 100px;
        border-radius: 50%;
        background-color: rgb(88, 55, 55);
        position: relative;


        span {
            display: block;
            width: 10px;
            height: 10px;
            background-color: black;
            border-radius: 50%;
            margin: 2em 1em 0 1em;

        }

        &::after {
            content: "";
            width: 45px;
            height: 20px;
            // background-color: transparent;
            border-top: 2px solid rgb(88, 55, 55);
            border-left: 2px solid rgb(88, 55, 55);
            border-right: 2px solid rgb(88, 55, 55);
            border-bottom: 3px solid rgb(181, 96, 96);
            border-radius: 100%;
            position: absolute;
            bottom: 25%;
            right: 15%;
            z-index: 2;
        }
    }

    .body {
        position: relative;
        width: 20px;
        height: 100px;
        background-color: rgb(88, 55, 55);

        &::after {
            content: "";
            width: 10px;
            height: 150px;
            background-color: rgb(88, 55, 55);
            position: absolute;
            top: 10%;
            right: 300%;
            transform: rotate(60deg);
        }

        &::before {
            content: "";
            width: 10px;
            height: 150px;
            background-color: rgb(88, 55, 55);
            position: absolute;
            top: -40%;
            right: -300%;
            transform: rotate(70deg);
        }
    }

    .legs {
        position: relative;
        width: 20px;
        height: 115px;
        background-color: rgb(88, 55, 55);

        &::after {
            content: "";
            width: 10px;
            height: 150px;
            background-color: rgb(88, 55, 55);
            position: absolute;
            bottom: -90%;
            right: 300%;
            transform: rotate(60deg);
        }

        &::before {
            content: "";
            width: 10px;
            height: 150px;
            background-color: rgb(88, 55, 55);
            position: absolute;
            bottom: -100%;
            right: -200%;
            transform: rotate(140deg);
        }
    }
}

h1.girl {
    font-size: 200px;
    transform: scaleX(-1)
}